<!DOCTYPE html>
<html style="height: 100%" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<!--margin-top:40px;width:1200px-->
<div id="container" style="height: 100%;"></div>
<!--<input id="arr" type="hidden" th:value="${arr}">-->
<input id="is30" type="hidden" th:value="${is30}">
<!--  <div id="zhuzhuang" ></div>-->
<link rel="stylesheet" href="/layui/css/layui.css"/>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/echarts.js"></script>
<script type="text/javascript" src="/js/bmap.min.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=Xg3x1KqgrWNnFox4cGPW739h0Bt6rab1&__ec_v__=20190126"></script>
<script type="text/javascript" th:inline="none">
    layui.use('layer',function(){
        var layer = layui.layer;
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var is30 = $("#is30").val();
        layer.ready(function(){
            var loading = layer.load(2, {
                shade: [0.3,'#fff'] //0.1透明度的白色背景
            });
            if(is30 == 1){
                var baseurl = "/allFungi-zhu-30-ajax"
            }else{
                var baseurl = "/allFungi-zhu-ajax"
            }
            function load(mychart) {
                $.ajax({
                    contentType: "application/json",
                    type: "GET",
                    url: baseurl,
                    // dataType: "json",
                    success: function (data) {

                        var app = {};
                        option = null;
                        var COLORS = ["#ffffff", "#b4e0f3","#70b4eb" , "#1482e5","#1c3fbf", "#070093","#000000"];
//坐标为最大块正方形左下角和右上角
//经度
                        var map = new BMap.Map("container");
                        var lngExtent = [24.191224, 30.563294];
//纬度24.631894,103.622947
                        var latExtent = [103.299969,108.552521];
                        var cellCount = [40,40];

//求得每块的经度纬度分别有多少度
                        var cellSizeCoord = [
                            (lngExtent[1] - lngExtent[0]) / cellCount[0],
                            (latExtent[1] - latExtent[0]) / cellCount[1]
                        ];
                        var gapSize = 0;
//[列，行，值]

                        // var data = $("#arr").val();
                        //使用split方法将字符串转换为一维数组，以;为分隔符
                        if(data){
                            var arr1 = data.split(";");//如果转成一维的，这里已经完成了，下面代码删除
                            //定义我们要存放数据的一维数组(实际上是二维数组，后面会转变，只不过js无法直接定义二维数组)
                        }//如果转成一维的，这里已经完成了，下面代码删除
                        //定义我们要存放数据的一维数组(实际上是二维数组，后面会转变，只不过js无法直接定义二维数组)
                        var arr2 = new Array(arr1.length);
                        //遍历一维数组，并将一维数组的值通过临时数组转移到二维数组里面
                        for (var i = 0; i < arr1.length; i++)
                        {
                            //定义临时数组
                            var temp =new Array(3);
                            //将一维数组再次拆分，准备存入二维数组
                            temp = arr1[i].split(",");
                            //定义将要存放数据的一维数组的每一个元素都为一个数组(实际上就是定义二维数组了)
                            arr2[i] = new Array(temp.length);
                            //遍历临时数组将其值存入二维数组
                            for (var j = 0; j < temp.length; j++)
                            {
                                arr2[i][j] = temp[j];//完成字符串转换为二维数组
                            };
                        };
                        // 下面是遍历二维数组，检测结果是否正确，实际使用中可以删除
                        data = arr2;


                        // for(var i = 0;i<data.length;i++){
                        //     alert(data[i][2]);
                        // }
                        function renderItem(params, api) {
                            var context = params.context;
                            //data集合中数组的第一个值和第二个值，表示第lngindex行第latindex列
                            var lngIndex = api.value(0);
                            var latIndex = api.value(1);
                            var coordLeftTop = [
                                //第n块左上角经度 = 初始经度+第n个格子*格子的的经度长
                                +(latExtent[0] + lngIndex * cellSizeCoord[0]).toFixed(6),
                                +(lngExtent[0] + latIndex * cellSizeCoord[1]).toFixed(6)
                            ];
                            //点的左上右下角坐标
                            var pointLeftTop = getCoord(params, api, lngIndex, latIndex);
                            var pointRightBottom = getCoord(params, api, lngIndex + 1, latIndex + 1);

                            return {
                                type: 'rect',
                                shape: {
                                    x: pointLeftTop[0],
                                    y: pointLeftTop[1],
                                    width: pointRightBottom[0] - pointLeftTop[0],
                                    height: pointRightBottom[1] - pointLeftTop[1]
                                },
                                style: api.style({
                                    stroke: 'rgba(0,0,0,0.1)'
                                }),
                                styleEmphasis: api.styleEmphasis()
                            };
                        }

                        function getCoord(params, api, lngIndex, latIndex) {
                            var coords = params.context.coords || (params.context.coords = []);
                            var key = lngIndex + '-' + latIndex;

                            // bmap returns point in integer, which makes cell width unstable.
                            // So we have to use right bottom point.
                            return coords[key] || (coords[key] = api.coord([
                                +(latExtent[0] + lngIndex * cellSizeCoord[0]).toFixed(6),
                                +(lngExtent[0] + latIndex * cellSizeCoord[1]).toFixed(6)
                            ]));
                        }

                        option = {

                            title: {
                                text: '菌种分布图',

                                left: 'center'
                            },
                            tooltip: {},

                            visualMap: {
                                left: 'right',
                                min: 0,
                                max: 50,
                                inRange: {
                                    //color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                                    color:COLORS,
                                    opacity: 0.6
                                },
                                text:['High','Low'],           // 文本，默认为数值文本
                                calculable: true


                            },
                            toolbox:{
                                show:true,
                                orient:'vertical',
                                top:'center',
                                feature:{
                                    mark:{
                                        show:true
                                    },
                                    dataView:{
                                        show:true,
                                        readOnly:true
                                    },
                                    restore:{
                                        show:true
                                    },
                                    saveAsImage:{
                                        show:true
                                    }
                                }

                            },
                            series: [
                                {
                                    type: 'custom',
                                    coordinateSystem: 'bmap',
                                    renderItem: renderItem,
                                    animation: false,
                                    itemStyle: {
                                        emphasis: {
                                            color: 'yellow'
                                        }
                                    },
                                    encode: {
                                        tooltip: 2
                                    },
                                    data: data
                                }
                            ],
                            bmap: {

                                center: [106.630905, 26.670379],
                                zoom: 8,
                                roam: true,


                            }
                        };


                        // layer.close(layer.msg());
                        layer.close(loading)
                        // 点击显示柱状图
                        var index;
                        var data2 = []

                        myChart.on('click',function(e){

                            // alert(e.data[0]);
                            // console.log(params);
                            // if(e.componentSubType == "bar"){
                            // 先清除所有柱状图
                            $('.tongJiTu').remove();
                            $('#zhuzhuang').remove();
                            $('.layui-layer').remove();
                            var divObj = null;
                            index = null;
                            // 创建遮挡层
                            creatWrap();
                            // 创建柱状图容器
                            divObj = document.createElement('div');

                            $("body").append(divObj);
                            //var divObj = document.getElementById('zhuzhuang');
                            $(divObj).addClass('tongJiTu');
                            divObj.id = 'zhuzhuang';

                            //divObj.setAttribute('id','zhuzhuang');

                            var divX = getMousePos()['x'];

                            var divY = getMousePos()['y'];

                            $(divObj).css({
                                'width': 1000,
                                'height': 500,
             // 'border': '1px solid #ccc',
             // 'position': 'absolute',
             // 'top': 100,
             // 'left': 100
                            }).appendTo('.wrap');
                            var loadinglayer = layer.load(2, {
                                shade: [0.3,'#fff'] //0.1透明度的白色背景
                            });
                            // 创建柱状图
                            setwidth(e,divObj,index,loadinglayer);



                            // 点击遮挡层消失
                            //clearWrap('.zhedang');
                            //}
                            //return;
                        });
                        function setlayer(index) {
                            var tanchutitle = "柱状图";

                            if(!index){
                                index = layer.open({
                                    type:1,
                                    title:tanchutitle,
                                    id:'lid1',
                                    anim:1,
                                    shade:0,
                                    content:$('#zhuzhuang'),
                                    // resize:false,
                                    width:1000,
                                    scrollbar: false,
                                    cancel:function(){

                                        $('#zhuzhuang').remove();
                                        $('.layui-layer').remove();
                                        divObj = null;
                                        index = null;
                                        // layer.close(loadinglayer)
                                    }
                                });
                            }
                            // layer.close(loadinglayer)

                            //layer.title(tanchutitle,index);
                            layer.style(index,{
                                backgroundColor: 'rgba(255,255,255,0.5)'
                            });
                        }
                        function setwidth(e,divObj,index,loadinglayer) {
                            //从左下角起第lat列，第sat行
                            var column = e.data[0]
                            var row = e.data[1]
                            if(is30 == 1){
                                widurl = "/map-one-zhu-30-wid"
                            }else{
                                widurl = "/map-one-zhu-width"
                            }
                            $.ajax({
                                contentType:"application/json",
                                type:"GET",
                                url:widurl,
                                data:{
                                    "column":column,
                                    "row":row
                                },
                                dataType:"json",

                                success:function (data){
                                    var w = data.w;

                                    var data1 = data.list1
                                    $(divObj).css({
                                        'width': (w+1)*50,
                                        'height': 500,

                                    }).appendTo('.wrap');
                                    var zhuzhuang= echarts.init(document.getElementById("zhuzhuang"));
                                    var arr1 = new Array(data1.length);
                                    var arr2 = new Array(data1.length);
                                    for(var i=0;i<data1.length;i++){
                                        arr1[i] = data1[i].shorttext1567761455594

                                        if(arr1[i].length == 0){
                                            arr1[i] = data1[i].shorttext1567761353834
                                        }
                                        //alert(arr1[i])
                                        arr2[i] = data1[i].value
                                        //alert(arr2[i])
                                    }

                                    option = {
                                        backgroundColor: 'rgba(255,255,255,.3)',
                                        // legend: {
                                        //     data:arr1
                                        //     // data: ['数据A','数据B','数据C','数据d','数据d']
                                        // },
                                        grid:{
                                            x:45,
                                            y:45,
                                            x2:5,
                                            y2:70,
                                            borderWidth:1
                                        },
                                        xAxis: [
                                            {
                                                axisLabel:{
                                                    show:true,
                                                    interval:0,
                                                    rotate:40
                                                },
                                                type: 'category',
                                                data:arr1
                                                //data: ['数据A','数据B','数据C','数据d','数据d']
                                            },

                                        ],
                                        yAxis: [
                                            {
                                                splitLine: {
                                                    show: false
                                                },
                                                type: 'value'
                                            }
                                        ],
                                        series: [
                                            {
                                                type: 'bar',
                                                itemStyle: {
                                                    normal: {
                                                        color: function(params){
                                                            var colorList = ['#F75D5D','#59ED4F','#4C91E7','#5C3317','#5C4033','#238E23','#8E236B','#FF00FF','#871F78','#4F2F4F',
                                                                '#D8D8BF','#CC3299','#4F2F4F','#CDCDCD','#5C4033','#ADEAEA','#D8BFD8','#DB9370','#38B0DE','#236B8E','#00FF7F',
                                                                '#FF1CAE','#007FFF','#3299CC','#E6E8FA','#8E6B23','#6B4226','#238E68','#BC1717','#6F4242','#5959AB','#D9D9F3'
                                                            ];
                                                            return colorList[params.dataIndex];
                                                        },
                                                        label: {
                                                            show: true,
                                                            position: 'top',
                                                            textStyle: {
                                                                color: '#000'
                                                            }
                                                        }
                                                    }
                                                },
                                                data:arr2
                                                //data: [e.data[0],e.data[1],e.data[2]]
                                            }
                                        ]
                                    };
                                    zhuzhuang.setOption(option);
                                    setlayer(index);
                                },
                                complete: function(XMLHttpRequest, textStatus) {
                                    // zhuZhuangTu(e,divObj,index,loadinglayer);
                                    // layer.close(loadinglayer)

                                    layer.close(loadinglayer)
                                },


                            })
                        }
                        // 获取横纵坐标
                        function getMousePos(e) {
                            var e = event || window.event;
                            var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
                            var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
                            var x = e.pageX || e.clientX + scrollX;
                            var y = e.pageY || e.clientY + scrollY;
                            // console.log(x,y)
                            return {'x': x,'y': y};
                        };
                        // 生成柱状图
                        function zhuZhuangTu(e,divObj,index,loadinglayer) {
                            //var zhuzhuang = echarts.init(divObj);

                            //从左下角起第lat列，第sat行
                            var column = e.data[0]
                            var row = e.data[1]

                            if(is30 == 1){
                                $.ajax({
                                    contentType:"application/json",
                                    type:"GET",
                                    url:"/map-one-zhu-30",
                                    data:{
                                        "column":column,
                                        "row":row
                                    },
                                    dataType:"json",
                                    success:function (data) {
                                        var zhuzhuang= echarts.init(document.getElementById("zhuzhuang"));
                                        var arr1 = new Array(data.length);
                                        var arr2 = new Array(data.length);
                                        for(var i=0;i<data.length;i++){
                                            arr1[i] = data[i].shorttext1567761455594

                                            if(arr1[i].length == 0){
                                                arr1[i] = data[i].shorttext1567761353834
                                            }
                                            //alert(arr1[i])
                                            arr2[i] = data[i].value
                                            //alert(arr2[i])
                                        }

                                        option = {
                                            backgroundColor: 'rgba(255,255,255,.3)',
                                            // legend: {
                                            //     data:arr1
                                            //     // data: ['数据A','数据B','数据C','数据d','数据d']
                                            // },
                                            grid:{
                                                x:45,
                                                y:45,
                                                x2:5,
                                                y2:70,
                                                borderWidth:1
                                            },
                                            xAxis: [
                                                {
                                                    axisLabel:{
                                                        show:true,
                                                        interval:0,
                                                        rotate:40
                                                    },
                                                    type: 'category',
                                                    data:arr1
                                                    //data: ['数据A','数据B','数据C','数据d','数据d']
                                                },

                                            ],
                                            yAxis: [
                                                {
                                                    splitLine: {
                                                        show: false
                                                    },
                                                    type: 'value'
                                                }
                                            ],
                                            series: [
                                                {
                                                    type: 'bar',
                                                    itemStyle: {
                                                        normal: {
                                                            color: function(params){
                                                                var colorList = ['#F75D5D','#59ED4F','#4C91E7','#5C3317','#5C4033','#238E23','#8E236B','#FF00FF','#871F78','#4F2F4F',
                                                                    '#D8D8BF','#CC3299','#4F2F4F','#CDCDCD','#5C4033','#ADEAEA','#D8BFD8','#DB9370','#38B0DE','#236B8E','#00FF7F',
                                                                    '#FF1CAE','#007FFF','#3299CC','#E6E8FA','#8E6B23','#6B4226','#238E68','#BC1717','#6F4242','#5959AB','#D9D9F3'
                                                                ];
                                                                return colorList[params.dataIndex];
                                                            },
                                                            label: {
                                                                show: true,
                                                                position: 'top',
                                                                textStyle: {
                                                                    color: '#000'
                                                                }
                                                            }
                                                        }
                                                    },
                                                    data:arr2
                                                    //data: [e.data[0],e.data[1],e.data[2]]
                                                }
                                            ]
                                        };
                                        zhuzhuang.setOption(option);
                                    },
                                    complete: function(XMLHttpRequest, textStatus) {
                                        setlayer(index);
                                        layer.close(loadinglayer)
                                    },
                                })
                            }else{
                                $.ajax({
                                    contentType:"application/json",
                                    type:"GET",
                                    url:"/map-one-zhu",
                                    data:{
                                        "column":column,
                                        "row":row
                                    },
                                    dataType:"json",
                                    success:function (data) {
                                        var zhuzhuang= echarts.init(document.getElementById("zhuzhuang"));
                                        var arr1 = new Array(data.length);
                                        var arr2 = new Array(data.length);
                                        for(var i=0;i<data.length;i++){
                                            arr1[i] = data[i].shorttext1567761455594
                                            //alert(arr1[i])
                                            if(arr1[i].length == 0){
                                                arr1[i] = data[i].shorttext1567761353834
                                            }
                                            arr2[i] = data[i].value
                                            //alert(arr2[i])
                                        }
//                                         $(divObj).css({
//                                             'width': 10000,
//                                             'height': 500,
// //              'border': '1px solid #ccc',
// //              'position': 'absolute',
// //              'top': 100,
// //              'left': 100
//                                         }).appendTo('.wrap');
                                        option = {
                                            backgroundColor: 'rgba(255,255,255,.3)',
                                            // legend: {
                                            //     data:arr1
                                            //     // data: ['数据A','数据B','数据C','数据d','数据d']
                                            // },
                                            grid:{
                                                x:45,
                                                y:45,
                                                x2:5,
                                                y2:70,
                                                borderWidth:1
                                            },
                                            xAxis: [
                                                {
                                                    axisLabel:{
                                                        show:true,
                                                        interval:0,
                                                        rotate:40
                                                    },
                                                    type: 'category',
                                                    data:arr1
                                                    //data: ['数据A','数据B','数据C','数据d','数据d']
                                                },

                                            ],
                                            yAxis: [
                                                {
                                                    splitLine: {
                                                        show: false
                                                    },
                                                    type: 'value'
                                                }
                                            ],
                                            series: [
                                                {
                                                    type: 'bar',
                                                    itemStyle: {
                                                        normal: {
                                                            color: function(params){
                                                                var colorList = ['#F75D5D','#59ED4F','#4C91E7','#5C3317','#5C4033','#238E23','#8E236B','#FF00FF','#871F78','#4F2F4F',
                                                                    '#D8D8BF','#CC3299','#4F2F4F','#CDCDCD','#5C4033','#ADEAEA','#D8BFD8','#DB9370','#38B0DE','#236B8E','#00FF7F',
                                                                    '#FF1CAE','#007FFF','#3299CC','#E6E8FA','#8E6B23','#6B4226','#238E68','#BC1717','#6F4242','#5959AB','#D9D9F3'
                                                                ];
                                                                return colorList[params.dataIndex];
                                                            },
                                                            label: {
                                                                show: true,
                                                                position: 'top',
                                                                textStyle: {
                                                                    color: '#000'
                                                                }
                                                            }
                                                        }
                                                    },
                                                    // barWidth : 30,
                                                    data:arr2
                                                    //data: [e.data[0],e.data[1],e.data[2]]
                                                }
                                            ]
                                        };
                                        zhuzhuang.setOption(option);
                                    },
                                    complete: function(XMLHttpRequest, textStatus) {
                                        setlayer(index);
                                        layer.close(loadinglayer)
                                    },
                                })
                            }



                        }
                        // 生成遮挡层
                        function creatWrap(){
                            var zheDang = document.createElement('div');
                            $(zheDang).addClass('zhedang').css({
                                width: '100%',
                                height: '100%',
                                position: 'absolute',
                                top: 0,
                                left: 0,
                                backgroundColor: 'rgba(0,0,0,.2)'
                            }).appendTo('.wrap');
                        }
                        // 去掉遮挡层
                        function clearWrap(id){
                            $(id).click(function(e){
                                // console.log(this);
                                this.remove();
                                $('.tongJiTu').remove();
                                return false;
                            });
                        }

                        if (option && typeof option === "object") {
                            myChart.setOption(option, true);
                        }
                        var bmap = myChart.getModel().getComponent('bmap').getBMap();
                        var cityName = '贵州省'
                        bmap.centerAndZoom(cityName,8);
                        bmap.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件
                        bmap.enableScrollWheelZoom();
                        bmap.addControl(new BMap.NavigationControl({ type: BMAP_NAVIGATION_CONTROL_LARGE ,anchor: BMAP_ANCHOR_TOP_LEFT, offset: new BMap.Size(40, 250)}));
                        bmap.setMinZoom(8);
                        bmap.setMaxZoom(20);
                        var bdary = new BMap.Boundary();
                        bdary.get(cityName, function (rs) {       //获取行政区域
                            // bmap.clearOverlays();        //清除地图覆盖物

                            //for循环都删除掉了，只剩下这个
                            //网上查了下，东西经南北纬的范围
                            var EN_JW = "180, 90;";         //东北角
                            var NW_JW = "-180,  90;";       //西北角
                            var WS_JW = "-180, -90;";       //西南角
                            var SE_JW = "180, -90;";        //东南角
                            //4.添加环形遮罩层

                            var ply1 = new BMap.Polygon(rs.boundaries[1] + SE_JW + SE_JW + WS_JW + NW_JW + EN_JW + SE_JW, { strokeColor: "none", fillColor: "rgb(246,246,246)", fillOpacity:1, strokeOpacity: 0.5 }); //建立多边形覆盖物

                            bmap.addOverlay(ply1);
                            //5. 给目标行政区划添加边框，其实就是给目标行政区划添加一个没有填充物的遮罩层
                            var ply = new BMap.Polygon(rs.boundaries[1], { strokeWeight: 2, strokeColor: "#00f",fillColor: "" });
                            bmap.addOverlay(ply);
                            //map.setViewport(ply.getPath());    //调整视野

                        });
                    }
                })
            }


                    // layer.msg('加载数据中..',{
        //     icon:16,
        //     shade:0.01,
        //     time:0
        // })
            load(myChart);

        });
    });

</script>

</body>
</html>